html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

html {font-size:16px;}

/* 질환별 명의 리스트 */
.famous_wrap {font-family:'Noto Sans KR', sans-serif;font-size: 1rem;margin:10px 18px 20% 18px;}
.famous_wrap .famous_banner {position:relative; display: flex;flex-wrap:wrap;justify-content : space-between; height:100px; border-radius:14px; background-color:#3B52EE;}
.famous_wrap .famous_banner .title_wrap {position:absolute;width:90%;top:50%;left:10%; transform:translateY(-50%);font-family:'Noto Sans KR', sans-serif;font-size:1.250rem;font-weight:700;color:#fff;line-height:1.5; text-align: left;letter-spacing:-2px;vertical-align: baseline;z-index:9;}
.famous_wrap .famous_banner .title_wrap2 {position:absolute;left: 10%;top:50%; transform:translateY(-50%);width: 90%;height:100%;font-family:'Noto Sans KR', sans-serif;font-size:1.250rem;font-weight:700;color:#fff;line-height:1.5;text-align: left;vertical-align: middle; letter-spacing:-2px;z-index:9;}
.famous_wrap .famous_banner .title_wrap2 .title {position:absolute;width:100%;height:100%;overflow:hidden;word-break:keep-all;background-color: #00B264;}
.famous_wrap .famous_banner .title_wrap .tx_color {font-size:1.125rem; color:#ff8851;font-weight:600;}
.famous_wrap .famous_banner .famous_visual {position:absolute;width:100%;height:100%;z-index: 8;}
.famous_wrap .famous_banner .famous_visual img {position:absolute;height:100%;right:10%; }
.famous_wrap .famous_notice {background-color:#fafafa; height:100%;border-radius:10px; margin:10px 0 20px;padding:5px 10px 7px;}
.famous_wrap .famous_notice .notice_txt {width:100%;font-family:'Noto Sans KR', sans-serif;font-size:0.813rem;font-weight:400;color:#555;letter-spacing: -0.5px; line-height:1.5; text-align:left;word-break: keep-all;word-wrap: break-word;}
.famous_wrap .famous_notice2 {max-width:80%;margin:20px auto;text-align: center;  font-family:'Noto Sans KR', sans-serif;font-size: 1rem;color:#444;font-weight:500;text-align: center;line-height: 1.5; letter-spacing: -1px;}
.famous_wrap .famous_notice2 .notice_txt {word-break: keep-all;word-wrap: break-word;}
.famous_wrap .famous_notice2 .color_green {color:#00B264;}
.famous_wrap .famous_notice2 .color_orange {color:#FF5404;}
.famous_place_item {padding-bottom: 0px;border:1px solid #f2f2f2;margin-bottom:10px;border-radius:14px;}
.famous_place_item a {font-family:'Noto Sans KR', sans-serif;font-size: 0.938rem; text-decoration: none;color:#414141;letter-spacing: -1px;}
.famous_place_item a:link { color: #444; } /* 기본 상태 */
.famous_place_item a:visited { color: #444; } /* 이미 링크 방문한 상태 */
.famous_place_item .w-btn {border-radius: 14px;}
.famous_place_item .w-btn:hover {width:100%;border:1px solid #00B264;display: inline-block;border-radius: 14px;box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);text-decoration: none;font-weight: 600;transition: 0.25s;}
.famous_place_item .famous_place_text { margin:0px;font-size: 1rem;font-weight:bold;color:#444; border-bottom:0px solid #d8d8d8;padding:15px 0 15px 15px;}
.famous_place_item .famous_place_text {display: flex;justify-content: space-between;}
.famous_place_item .famous_place_badge {margin-left: auto; margin-top:2px;margin-left:10px;margin-right:10px;}
.famous_place_item .btn_more {margin:0 0px 0 10px;color:999;display:none;}
.famous_place_item  .btn_more img{display:none;}
.famous_place_item .famous_place_tit {margin-bottom:0px;color:#444;font-weight:bold;text-align: left; overflow:hidden;word-break:keep-all; }
.famous_place_item .famous_place_tit:first-child {margin-right:10px;}
.famous_place_item .famous_place_tit .light {color:#777; font-weight: 500;}
.famous_place_item .famous_place_badge {display: inline-block; line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline; border-radius: 0.25rem;}
.famous_place_item .famous_place_badge .badge_outline {font-size: 0.750rem; line-height: 1.5; font-weight:bold;padding:1px 10px 3px; background-color: #fff; border:1px solid #e1e1e1; border-radius: 10rem;}
.famous_place_item .famous_place_badge .badge_primary {font-size: 0.750rem; line-height: 1.5; font-weight:bold;padding:1px 10px 3px; background-color: #f4f4f4; border:1px solid #f4f4f4; border-radius: 10rem;}
.famous_category_wrap {display: flex;flex-wrap:wrap; justify-content: space-between;margin:20px 0 20px 0; /*margin:20px 18px 20px 18px;*/}
.category_items {width:25%;display: flex;flex-wrap:wrap;justify-content: center;margin-bottom:30px;}
.category_items a {font-family:'Noto Sans KR', sans-serif;font-size:0.875rem;font-weight:500;color:#555;text-decoration:none}
.category_items .item {width:30px; height:30px; border:1px solid #e8e8e8;padding:14px;border-radius:20px;box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.05);}
.category_items .item_wrap .label {text-align: center;padding-top:10px;}

/*
.grid-layout{display: grid;grid-template-columns: repeat(4, 1fr);gap: 15%;} */
.grid-layout .box {justify-content : space-between;}
.grid-layout .box .items .icon {padding:0; border:1px #e8e8e8 solid ;}
.grid-layout .box .items .title {margin-top:10px; line-height: 1; text-align: center; font-family:'Noto Sans KR', sans-serif; font-size: 1rem;font-weight: 800;color:#414141; letter-spacing: -0.08rem;}

/* tab swiper */
.tab {position: absolute; top: 0%;left: 0%; margin-top: 0px; margin-left: 0px; width: 100%; height: auto; background-color: #fff; overflow-x: hidden;}
.tab-nav {position: relative;height: auto;width: 100%; padding: 0 10px; background-color: #fff; overflow-x: hidden;}
.tab-nav .swiper-slide {display: block; width: 90px;height: auto;line-height: 1.5;text-align: center;margin: 10px 0 10px;cursor: pointer;}
.tab-nav .swiper-slide {font-family:'Noto Sans KR', sans-serif;font-size: 0.938rem;font-weight:700; text-decoration: none;color:#999;letter-spacing: -1px;}
.tab-nav .swiper-slide.active {font-weight: 700;color: #444;}
.tab-active-bar {width:auto;position: absolute; bottom: 0px; height: 4px; width: 20px; margin-left: 35px;background-color: #444; border-radius: 2px; transition-property: all;}
.tab-content {height: 100%;}
.tab-content .swiper-slide {color: #fff;line-height: 25px;text-align: center;cursor: pointer;height: 100%;}
.tab-content .swiper-slide,.tab-content .swiper-slide {background-color: #fff;}

/* 명의 개인페이지 */
.person_item_wrap .person_item_box {margin-top:3%; margin-bottom:10%;}
.person_item_wrap .person_item_info {width:100%; margin:0 auto;}
.person_item_wrap .item_photo {text-align: center;}
.person_item_wrap .item_info {font-family:'Noto Sans KR', sans-serif; text-align: center;margin:20px 0 40px;}
.person_item_wrap .item_info .category {font-size: 1rem;color: #444;color: #444;font-weight: 400;}
.person_item_wrap .item_info .name {font-size: 2rem;color: #444;font-weight: 700;margin:10px 0 10px;}
.person_item_wrap .item_info .info {width:90%;margin:0 auto; font-size: 1rem;color: #666;font-weight: 400;line-height: 1.5; overflow: hidden;word-break: keep-all;}

.person_item_wrap .person_item_contents {font-family:'Noto Sans KR', sans-serif;}
.person_item_wrap .person_item_contents .board {width:100%;margin-bottom:3%;}
.person_item_wrap .person_item_contents .board thead {padding-bottom:30px;}
.person_item_wrap .person_item_contents .board thead th { text-align: left; font-size: 1rem;font-weight: 600;color: #414141;padding: 10px 10px 10px 0px;background-color: #fff;border-bottom: 1px solid #eee;}
.person_item_wrap .person_item_contents .board tbody {font-size: 0.875rem;color: #666;font-weight: 400;}
.person_item_wrap .person_item_contents .board tbody td {padding:10px 0 10px;font-size: 0.875rem !important;}

.person_item_wrap .person_item_contents .board caption {display: none;}
.person_item_wrap .person_item_contents tr {border-bottom: 1px solid #f1f0f5;}
.person_item_wrap .person_item_contents tr:nth-child(2n) {background-color: #f1f0f5;}
.person_item_wrap .person_item_contents tr:nth-child(2n+1) {background-color: #fff;}
.person_item_wrap .person_item_contents .board td:first-child {padding-left:10px;}
.person_item_wrap .person_item_contents .board td:last-child {padding-right:10px;}
.person_item_wrap .person_item_contents .notice_txt {color:#999;font-weight:500; }
.person_item_wrap .person_item_contents .link {text-decoration:underline;color:#444;}
.person_item_wrap .person_item_contents a:hover {color:#222;}

.person_title {padding:3% 0 3%;border-bottom: 1px solid#eee;text-align: center;margin-bottom: 3%;}
.person_title img {height:25px;}

@media (max-width: 780px){
    .person_item_wrap .person_item_info {width:100%; margin:0 auto;}
    .person_item_wrap .board {min-width:960px; overflow-x: scroll;overflow-y: hidden;}
}

@media (min-width: 350px){
    .category_items {width:25% !important;}
}
   
@media (max-width: 349px){
    .category_items {width:33.333%;}
    .famous_place_item .famous_place_text {font-size: 0.875rem !important;}
    .famous_banner .title_wrap2 {font-size: 1rem;letter-spacing: -0.7px;font-weight: 500; }
    .famous_banner {height: 90px;}
    .famous_place_item .famous_place_tit .light {color:#666;font-weight: 500;letter-spacing:-0.5;}
    .famous_notice {margin: 10px 0 10px;}
}
@media (max-width: 320px){
    .famous_place_item .famous_place_badge .badge_outline {font-size: 0.688rem;padding: 1px 6px 3px;}
    .famous_place_item .famous_place_badge .badge_primary {font-size: 0.688rem;padding: 1px 6px 3px;}
    .famous_place_item .btn_more {padding: 10px 0px 0 0px;}
    .famous_place_item .famous_place_badge {margin-left: 5px;}
}